
<p id="notice"><%= notice %></p>
<!DOCTYPE html>
<html>
<head>
<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 200%;
}

#customers td, #customers th {
    border: 2px solid #ddd;
    padding: 10px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>

<table id="customers">
  <thead>
    <tr>
      <th>Image</th>
      <th>Cnic image</th>
      <th>Name</th>
      <th>Father name</th>
      <th>Department</th>
    
      <th>Date Of Birth</th>
      <th>Cnic number</th>
      
      <th>Mobile number</th>
      
      <th>University registration number</th>
      <th>Session </th>
      <th>Hostel fees</th>
      <th>Chalan number</th>
      <th>Pay date</th>
      <th>Bank</th>
      <th>Local</th>
      <th>City</th>
    
      <th>Previous block no</th>
      <th>Previous room no</th>
      <th>New block no</th>
      <th>New room no</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  
      <tr>
       
        <td><%=  image_tag @hostel_form.image.thumb.url  %></td>
        <td><%=  image_tag @hostel_form.image.thumb.url  %></td>
       
        <td><%= @hostel_form.name %></td>
        <td><%= @hostel_form.father_name %></td>
        <td><%= @hostel_form.department %></td>
        <td><%= @hostel_form.date_of_birth %></td>
         <td><%= @hostel_form.mobile_number %></td>
       <td><%= @hostel_form.university_registration_number %></td>
       <td><%= @hostel_form.session %></td>
        <td><%= @hostel_form.hostel_fees %></td>
        <td><%= @hostel_form.chalan_number %></td>
        <td><%= @hostel_form.pay_date %></td>
        <td><%= @hostel_form.bank %></td>
        <td><%= @hostel_form.city %></td>
       
        <td><%= @hostel_form.previous_block_no %></td>
        <td><%= @hostel_form.previous_room_no %></td>
        <td><%= @hostel_form.new_block_no %></td>
        <td><%= @hostel_form.new_room_no %></td>
       
      </tr>
   
  </tbody>
</table>

<br>
<CENTER><%= link_to 'Print', hostel_form_path(@hostel_form, format: 'pdf') %> |</CENTER>


<!DOCTYPE html>
<html>
<head>
<title>My Example</title>

<!-- CSS -->
<style>
/* Force scrollbars onto browser window */
body {
margin-bottom: 200%;
}

/* Box styles */
.myBox {
border: none;
padding: 5px;
font: 24px/36px sans-serif;
width: 200px;
height: 200px;
overflow: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
background: gold;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: yellowgreen;  
}

::-webkit-scrollbar-thumb:hover {
background: #88ba1c;  
}
</style>
</head>
