<%= form_for(session) do |f| %>
  <% if session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sess_starting %>
    <%= f.date_select :sess_starting %>
  </div>

  <div class="field">
    <%= f.label :sess_ending %>
    <%= f.date_select :sess_ending %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.text_field :duration %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
