

  <h1>Message of Provost</h1>
  
                          <center><h2>
                               Asalamulikum!
                                </h2>

<p>Dear students i am very happy about that that you are in my sopervoisery. This hostel is for all the students it just like your home. Always remember that keep it clean just like your home and try to dont disturb each other during studey time.
                Thanks</p></center>


<!-- We will make a simple accordian with hover effects
The markup will have a list with images and the titles-->
<div class="accordian">
    <ul>
		<li>
			<div class="image_title">
				<a href="#">Computer Science</a>
			</div>
			<a href="#">
				 <%= link_to image_tag('Cs.jpg', width: '100%', height: '60') %>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Adminstration block</a>
			</div>
			<a href="#">
				 <%= link_to image_tag('admin.jpg', width: '100%', height: '60') %>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Pharmacy chman</a>
			</div>
			<a href="#">
				 <%= link_to image_tag('jk.jpg', width: '100%', height: '60') %>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Computer science</a>
			</div>
			<a href="#">
				 <%= link_to image_tag('nnn.jpg', width: '100%', height: '30') %>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">UOB Buses</a>
			</div>
			<a href="#">
				 <%= link_to image_tag('forest.jpg', width: '100%', height: '60') %>
			</a>
		</li>
	</ul>
</div>



<!DOCTYPE html>
<html>
<head>
<title>My Example</title>

<!-- CSS -->
<style>
/* Force scrollbars onto browser window */
body {
margin-bottom: 200%;
}

/* Box styles */
.myBox {
border: none;
padding: 5px;
font: 24px/36px sans-serif;
width: 200px;
height: 200px;
overflow: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
background: gold;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: yellowgreen;  
}

::-webkit-scrollbar-thumb:hover {
background: #88ba1c;  
}
</style>
</head>
<body>



</body>
</html>